:root {
  --background-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-background: #2f303a;
  --team-background: #f5f4fa;
  --hero-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Боді */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Header */
header {
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-top: 24px;
  margin-bottom: 25px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__up {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.logo__down {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.justify-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  padding: 0;
  margin-left: 93px;
  display: flex;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item {
  position: relative;
}

.nav__link {
  display: block;
  padding-top: 0;
  padding-bottom: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.nav__link.current {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.nav__link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  margin-top: 28.5px;

  background: #2196f3;
  border-radius: 2px;
}

.header-contacts__list {
  display: flex;
  justify-content: end;
  align-content: center;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  padding: 0;
}

.header-contacts__list li+li {
  margin-left: 50px;
}

.header-contact__link {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  align-items: center;
  gap: 10px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover,
.header-contact__link:focus {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-contacts__icon {
  display: inline-block;
  fill: var(--primary-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover .header-contacts__icon,
.header-contact__link:focus .header-contacts__icon {
  fill: var(--accent-color);
}


/* Герой */
.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--hero-background);
  background-size: cover;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/heroBg.jpg");
}

.hero__title {
  width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}

.hero__button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  max-width: 216px;
  padding: 10px 32px;
  text-align: center;
  border: 1px solid transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  color: var(--hero-color);
}

.section-title {
  margin-top: 0;
  display: none;
}

/* Переваги */
.benefits {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 30px;
}

.benefits__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.benefits__item {
  margin-top: 0;
  margin-right: 0;

  width: 270px;
  font-style: regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.benefits__icon {
  fill: #212121;
}

.icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border: #757575;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* Чим займаємось */
.section-speciality {
  padding-top: 0;
}

.speciality__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.speciality__list {
  gap: 30px;
  display: block;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.speciality__item {
  position: relative;
}

.speciality__label {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 27px 95px;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}

/* Наша Комантда */
.section-team {
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--team-background);
}

.team__list {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 30px;
}

.team__igor {
  padding-bottom: 44px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__olga {
  padding-bottom: 44px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__mykola {
  padding-bottom: 44px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__misha {
  padding-bottom: 44px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__pos {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__name {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__list h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.social__list {
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: #fff;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

.team__list .social__icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

/* Clients */
.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}

.clients-icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-item:hover .clients-icon,
.clients-item:focus .clients-icon {
  fill: var(--accent-color);
}

/* Підвал */
.conteiner-footer {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background);
}

.map {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 9px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--hero-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.map:hover,
.map:focus {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.address {
  display: inline-block;
  margin-bottom: 9px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.address:hover,
.address:focus {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

footer .footer-socials {
  display: flex;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-socials {
  gap: 10px;
}

footer .footer-icon {
  fill: #ffffff;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-title {
  display: flex;
  margin-top: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.socials-box {
  display: flex;
  flex-direction: column;
}

.subscribe-box {
  display: flex;
  flex-direction: column;
}

.subscribe-title {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}

.subscribe {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  margin-right: 12px;
  padding: 15px;

  width: 358px;
  height: 50px;

  color: var(--background-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition-property: outline, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.subscribe-btn {
  position: relative;

  width: 200px;
  height: 50px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--background-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  align-items: center;
  padding-left: 28px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 10px;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover {
  color: var(--hero-background);
  background-color: var(--accent-color);
}

.icon-send {
  position: absolute;
  top: 13px;
  right: 28px;

  fill: var(--background-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover .icon-send {
  fill: var(--hero-background);
}

/*  Portfolio */

/* btns */

.wrk-fltr .filter {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border: 1px solid transparent;
  border-radius: 4px;
  align-items: center;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.wrk-fltr .filter:hover,
.wrk-fltr .filter:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.wrk-fltr .filter-btn {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.filter-btn li:not(last child) {
  margin-right: 0;
  margin-left: 8px;
}

/* Cards */
.works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;
}

.work-item {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.work-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.work-done {
  width: 370px;
  margin-left: 0;
}

.work-done .work-card {
  position: relative;
  padding: 0;
  border: none;

  overflow: hidden;
}

.work-link:hover .overlay-text {
  transform: translateY(0);
}

.works .overlay-text {
  padding: 63px 24px;
  border: none;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms ease;
}

.works .overlay-text p {
  color: var(--background-color);
}

.work-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover,
.work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.works div {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: opacity(1);
  transition-duration: 1200ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  animation-name: scaleModal;
  animation-duration: 6000ms;
  animation-timing-function: cubic-bezier(0.9, -0.2, 0.54, 0.98);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
}

.icon-cross {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .icon-cross {
  fill: var(--accent-color);
}

@keyframes opacityModal {
  0% {
    transform: opacity(1);
  }

  25% {
    transform: opacity(0.7);
  }

  50% {
    transform: opacity(0.5);
  }

  75% {
    transform: opacity(0.2);
  }

  100% {
    transform: opacity(0);
  }
}

.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  align-self: center;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form label {
  margin-bottom: 4px;
}

.js-speaker-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-item {
  margin-bottom: 10px;
}

.form-field {
  width: 448px;
  height: 40px;
  padding-left: 45px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: outline, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.form-item textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;

  color: #757575;
}

.form-item {
  position: relative;
}

.icon-person,
.icon-phone,
.icon-email {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus+.icon-person,
.form-field:focus+.icon-phone,
.form-field:focus+.icon-email {
  fill: var(--accent-color);
}

.form-comment {
  padding: 16px, 12px;

  transition-property: outline, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-comment:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.text {
  margin-bottom: 20px;
}

.check-box {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.checkbox {
  margin-right: 7px;
  appearance: none;
  width: 16px;
  height: 15px;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
}

.checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z' fill='%23ffffff'/%3E%3C/svg%3E");
  background-position: center;
  background-color: var(--accent-color);
}

.checkbox .agree {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}

.checkbox-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;

  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.form .agree {
  margin-bottom: 0;
}

.submit {
  align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  letter-spacing: 0.03em;
  color: var(--background-color);
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  align-items: center;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}